Microsoft.Exchange.Management/KeyBlobSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Key">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="KeyInfo">
					<xs:complexType>
						<xs:attribute name="algorithm" type="xs:string" use="required" />
						<xs:attribute name="length" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="KeyBlob">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="encoding" type="xs:string" use="required" />
								<xs:attribute name="size" type="xs:unsignedInt" use="required" />
								<xs:attribute name="format" type="xs:string" use="required" />
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>